body {
  background-color: #222222;
  color: #eeeeee;
}

.login-form th, td {
  padding: 5px;
}

.login-input {
  background: inherit;
  background-color: #333333;
  padding: 5px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #444444;
  outline: none;
  color: #dddddd;
}

.login-button {
  background: inherit;
  background-color: #282828;
  border-radius: 2px;
  border: 1px solid #444444;
  padding: 5px;
  width: 100%;
  outline: none;
}

.login-button:focus {
  background-color: #2a2a2a;
}

.login-button:active {
  background-color: #242424;
}

.login-error-field {
  color: red;
  font-weight: bold;
}

.login-success-field {
  color: #0080f0;
}
